.image-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box.no-image {
  font-size: 16px;
  color: #aaa;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
