.Header {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    max-width: 1600px;
    background-color: rgb(236,236,236);
}

.Header > img {
    display: flex;
    width: 160px;
    height: 160px;
    justify-content: flex-start;
}

.Header > h1 {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}